@media(max-width: 700px) {
  .logo-3 {
    display: grid;
    position: absolute;
    justify-self: center;
    left: -10%;
}

.logo-3 img {
    justify-self: center;
    width: 100px;
    padding: 0;
}

.contact {
    justify-self: center;
    padding-top: 10px;
    padding: 2px 4px;
    width: 90px;
}

.contact button{
  font-size: 7px;
}
  #footnav {
    grid-template-areas: 
    'logo' 
    'menu' 
    'loc';
  }
  
  .logo {
    justify-self: center;
    width: 200px;
  }
  
  .menu ul {
    padding-top: 0px;
  }
  
  .menu ul li a{
    font-size: 12px;
  }
  
  .menu ul li　h2{
    font-size: 8px;
  }
  
  .loc h1 {
    font-size: 12px;
  }

  .navbar ul li {
      margin: 0 10px;
  }

  .navbar ul li a {
      font-size: 0.7rem;
  }

  .logo-3 {
      width: 200px;
  }

  .slide-data button {
      font-size: 1rem;
  }

  .menu ul li a{
      font-size: 10px;
  }
}
