.navbar {
    left: 0;
    justify-self: center;
    width: 100%;
}

.navbar ul li {
    margin: 0 20px;
}

.slide {
    background-position: right;
}

.slide-data {
    right: 0;
    justify-content: center;
    grid-gap: 1.5rem;
}

.slide-data button {
    font-size: 1.5rem;
}


#footnav {
    grid-template-areas: 
    'logo' 
    'menu' 
    'loc';
}

.logo {
    justify-self: center;
    width: 200px;
}

.logo-3 {
    width: 300px;
    padding: 40px;
    background: #e95504;
    opacity: 80%;
    border-radius: 50%;
}

.menu ul {
    padding-top: 0px;
}

.menu ul li a{
    font-size: 12px;
}

.menu ul liã€€h2{
    font-size: 8px;
}

.loc h1 {
    font-size: 12px;
}



@media(max-width: 600px) {

    .navbar ul li {
        margin: 0 10px;
    }

    .navbar ul li a {
        font-size: 0.7rem;
    }

    .logo-3 {
        width: 200px;
    }

    .slide-data button {
        font-size: 1rem;
    }

    .menu ul li a{
        font-size: 10px;
    }
}
